{% extends 'base.html.twig' %}

{% block title %}Hello ressource!{% endblock %}
{% block stylesheets %} {{parent()}} {% endblock %}
{% block javascripts %} {{parent()}} {% endblock %}
{% block navabar %}
{{parent()}}
{% endblock %}
{% block body %}
{% if app.user and app.user.getRole() == 'formateur' %} 
<a href="{{path('addsection')}}" class="btn btn-light mt-4 ms-4 " style="width: 200px;display: inline;"><i class="fa fa-plus" > Ajouter une Section</i></a>
{% endif %}
<table class="table ms-4  me-4">
    
  <thead>
    <tr>
     
      <th scope="col">Section</th>
      <th scope="col">Description</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for section in sections %}
    <tr>
      
      <td>{{section.titre}}</td>
      <td>{{section.description}}</td>
      <td>
        <a href="{{path('showressource',{'idsection': section.id})}}" class="btn btn-light"><i class="fa fa-eye"></i></a>
        <a href="#" class="btn btn-light"><i class="fa-solid fa-check"></i></a>
        {% if app.user and app.user.getRole() == 'formateur' %} 
        <a href="{{path('editsection',{'id': section.id})}}" class="btn btn-warning " ><i class="fa-solid fa-pen-to-square"></i></a>
        <a href="{{path('deletesection',{'id': section.id})}}" class="btn btn-danger " ><i class="fa-solid fa-trash"></i></a>
        {% endif %}
      </td>
      
    {% endfor %}
    </tr>


  </tbody>
</table>

{% endblock %}