{% extends 'base.html.twig' %}

{% block title %}Hello ressource!{% endblock %}
{% block stylesheets %} {{parent()}} {% endblock %}
{% block javascripts %} {{parent()}} {% endblock %}
{% block navabar %}
{{parent()}}
{% endblock %}
{% block body %}
<a href="{{path('addressource')}}" class="btn btn-light mt-4 ms-4 " style="width: 200px;display: inline;"><i class="fa fa-plus" > Ajouter une ressource</i></a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Titre</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <h1>Ressources</h1>
  <tbody>
    {% for ressource in ressources %}
    <tr>
      <td>{{ressource.type}}</td>
      <td>{{ressource.titre}}</td>
      <td>
        <a href="{{path('download_doc',{'id': ressource.id})}}" class="btn btn-light"><i class="fa-solid fa-download"></i></a>
        <a href="{{path('editressource',{'idsection': ressource.idsection, 'id': ressource.id})}}" class="btn btn-warning " ><i class="fa-solid fa-pen-to-square"></i></a>
        <a href="{{path('deleteressource',{'idsection': ressource.idsection, 'id': ressource.id})}}" class="btn btn-danger " ><i class="fa-solid fa-trash"></i></a>
    </td>
      
    {% endfor %}
    </tr>


  </tbody>
</table>
<h1>Exercices</h1>
{% endblock %}