{% extends 'base.html.twig' %}

{% block title %}Liste exercices{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        li{
            list-style-type: none;
        }
        .true {
            color: green;
        }
        .false {
            color: red;
        }
        .fa-regular {
            display: inline-block;
            width: 14px;
            height: 16.8px;
        }
    </style>

{% endblock %}

{% block body %}
    <div class="container">
    <h1>Your score is : {{ score }} %</h1>

    {% set i = 1 %}
    {% for question in exercice.questions %}
    {# {{i}} #}
        <h2>{{ question.question }}</h2>
        <ul>
            {% set j = 1 %}
            {% for choice in question.getChoixReponses() %}
                {# {{j}} #}
                {% if app.session.has('reponse') %}

                    {# {{ set key =  }} #}
                    {% if question.reponse == j %}
                        <li><i class="fa-regular fa-square-check true"></i> {{ choice.choix }}</li>
                    {% elseif app.session.get('reponse')["choix"~i] == j and question.reponse != j %}
                        <li><i class="fa-regular fa-rectangle-xmark false"></i> {{ choice.choix }}</li>
                    {% else %}
                        <li><i class="fa-regular fa-square"></i> {{ choice.choix }}</li>
                    {% endif %}

                {% endif %}
                {% set j = j + 1 %}
            {% endfor %}    
        </ul>
        {% set i = i + 1 %}
    {% endfor %}
    </div>
{# <i class="fa-solid fa-check true"></i>
<i class="fa-solid fa-x false"></i>
<i class="fa-regular fa-square-check true"></i>
<i class="fa-regular fa-rectangle-xmark false"></i> #}
{% endblock %}


