{% extends "base.html.twig" %}

{% block title %}{{ exercice.titre }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        {{ exercice.titre }}
                    </h3>
                </div>
                <div class="card-body">
                    {% if exercice.questions is empty %}
                        {# {{exercice.questions}} #}
                        <div class="alert alert-warning" role="alert">
                            You need to add some questions !
                        </div>
                    {% endif %}
                    {# <div class="card-text">
                        {{ exercice.body }}
                    </div>
                    <div class="card-text">
                        {{ user }}
                    </div> #}
                    <ul>
                        <td>
                            <a href="{{ path('app_exercice.edit', {id : exercice.id}) }}" class="btn btn-warning">
                                <i class="fa-solid fa-pen-to-square"></i>
                                Edit exercice title
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('app_question', {exercice_id : exercice.id}) }}" class="btn btn-primary">
                                <i class="fa-regular fa-eye"></i>
                                View questions
                            </a>
                        </td>
                        <td>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                <i class="fa-solid fa-trash"></i>
                                Delete Exercice
                            </button>
                        </td>
                        <td>
                            <a href="{{ path('app_exercice.practice', {exercice_id : exercice.id}) }}" class="btn btn-info">
                                <i class="fa-solid fa-book"></i>
                                Take exercise 
                            </a>
                        </td>

                        {# <td><a href="{{ path('app_exercice.delete', {id : exercice.id}) }}" class="btn btn-danger">
                                <i class="fa-solid fa-trash"></i>
                                Delete Exercice
                            </a>
                        </td> #}
                    </ul>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteModalLabel">Do you want to delete the exercise ?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="text-danger">The exercise as well as all its questions and choices will be deleted !</p>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a href="{{ path('app_exercice.delete', {id : exercice.id}) }}" class="btn btn-danger">
                            Confirm
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{# {% if is_granted('ROLE_USER') %}
    {% if task.user.id == app.user.id %}
        <a href="{{ path('task_edit', {id : task.id}) }}" class="btn btn-warning">
            <i class="fa-solid fa-pen-to-square"></i>
        </a>
        <a href="{{ path('task_delete', {id : task.id}) }}" class="btn btn-danger">
            <i class="fa-solid fa-trash"></i>
        </a>
    {% endif %}
{% endif %} #}