{% extends 'base.html.twig' %}

{% block title %}Hello User!{% endblock %}
{% block stylesheets %} {{parent()}} {% endblock %}
{% block javascripts %} {{parent()}} {% endblock %}
{% block navabar %}
{{parent()}}
{% endblock %}
{% block body %}
    <section  class="mt-4 " style="display: flex; justify-content: center; align-items: center;  ">
        <div class="col-lg-4">
            <div class="card mb-4">
            <div class="card-body text-center">
                {% if user.photo == null %}
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
                {% else %}
                <img src="{{asset('/uploads/'~user.photo)}}" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
                {% endif %}
                <h5 class="my-3">{{user.prenom}} {{user.nom}}</h5>
                <p class="text-muted mb-1">{{user.role}}</p>
                <p class="text-muted mb-1">{{user.email}}</p>
            </div>
            </div>
        
        </div>
        
    </section>

{% endblock %}